@media (max-width: 520px) {
    /* GERAL */
    ::-webkit-scrollbar {
        width: 0px !important;
        background: transparent !important;
    }

}

html, body, #main,
#main > div.row:nth-child(1), #main > div > div.col-9.col-content {
    height: 100%;
    overflow: auto !important;
}

#main-content {
    height: calc(100% - 35px);
    background-color: #fff;
}

#toast-container > div {
    border-radius: 0px !important;
    max-width: 105%;
}

#toast-container {
    max-width: 105%;

}
.toast-message{
    padding: 10px !important;
}

.toast-top-right {
    max-width: 105%;
    width: 105%;
    top: 0;
    left: 0;
}
.toast-top-center {
    max-width: 105%;
    width: 105%;
    top: 0;
    left: 0;
}

.modal.fade:not(.in).left .modal-dialog {
    -webkit-transform: translate3d(-25%, 0, 0);
    transform: translate3d(-25%, 0, 0);
}
.modal.fade:not(.in).right .modal-dialog {
    -webkit-transform: translate3d(25%, 0, 0);
    transform: translate3d(25%, 0, 0);
}
.modal.fade:not(.in).bottom .modal-dialog {
    -webkit-transform: translate3d(0, 25%, 0);
    transform: translate3d(0, 25%, 0);
}

.modal.right .modal-dialog {
    position:absolute;
    top:0;
    right:0;
    margin:0;
}

.modal.left .modal-dialog {
    position:absolute;
    top:0;
    left:0;
    margin:0;
}

.modal.left .modal-dialog.modal-sm {
    max-width:300px;
}

.modal.left .modal-content, .modal.right .modal-content {
    min-height:100vh;
    border:0;
}

.item-menu{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}
